@()

@main("Home") {

        @navbar("home")

<div class="container">
        <br/>
        <br/>
        <h2 class="text-center"><B>YO'L PATRUL XIZMATI BOSHQARMASINING</B></h2>
        <h4 class="text-center">Tezkor qidiruv xizmati.</h4>
        <br/>
        <br/>

        <div class="row">
                <div class="col-xs-3">
                        <img src="@routes.Assets.at("images/IMG.jpg")" class=" center-block img-responsive img-circle" alt=""/>
                </div>
                <div class="col-xs-8">
                        <p class="lead">
                                Yo'l patrul xizmatchilarining ishini osonlashtirish uchun qidiruv xizmati.
                        </p>

                        <p class="lead">
                                <b>- Azizbek Azamatov,</b> Dasturni tuzuvchi
                        </p>
                </div>
        </div>
        <br/>
        <hr/>
        <br/>


}
