@(users: List[UserForDisplay])

@main("Home") {

        @navbar("list")

        <div class="container main-content">

                <h1 class="text-center">Users list.</h1>
                <table class="table table-striped">
                        <thead>
                                <tr>
                                        <th>FName</th>
                                        <th>LName</th>
                                        <th>UName</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Action</th>
                                </tr>
                        </thead>
                        <tbody>
                        @for(user1 <- users) {
                                <tr>
                                        <td>@user1.user.fname</td>
                                        <td>@user1.user.lname</td>
                                        <td>@user1.user.uname</td>
                                        <td>@user1.user.email</td>
                                        <td>@user1.user.password</td>
                                        <td>
                                                <a href="@routes.Users.showEditForm(user1.user.id.get)">
                                                        <button class="btn btn-warning">Edit</button>
                                                </a>
                                                <a href="@routes.Users.remove(user1.user.id.get)">
                                                        <button class="btn btn-danger">Delete</button>
                                                </a>
                                        </td>
                                </tr>
                        }
                        </tbody>
                </table>
        </div>

}
